<a href="#" class="list-group-item">
	<div class="container">
		<div class="media col-md-2 col-sm-2 col-xs-2">
			<figure >
				<p class="text-bold"><i class="color-review fa fa-user" aria-hidden="true"></i><%= review.user.name %></p>
				<p class="text-bold"><i class="color-review fa fa-clock-o" aria-hidden="true"></i><%= review.created_at.to_time %></p>
				<p class="text-bold"><i  class="color-review fa fa-calendar-o" aria-hidden="true"></i><%= review.created_at.to_date %></p>
			</figure>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-7">
			<p class="list-group-item-text"><%= review.comment %></p>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 text-center">
			<div class="stars">
				<i  class="color-review fa fa-star" aria-hidden="true"></i>
				<i class="color-review fa fa-star" aria-hidden="true"></i>
				<i class="color-review fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star-o" aria-hidden="true"></i>
				<i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<p><%= review.rate %><small> / </small> 5 </p>
		</div>
	</div>
</a>