<div id="banner" class="jumbotron row"></div>
<% if params[:type] == "games" %>
   <h1>Games</h1>
<% elsif params[:type] == "musics" %>
   <h1>Musics</h1>   
<% elsif params[:type] == "films" %>
   <h1>Films</h1>
<% else %>
   <h1> Products </h1>
<% end %>

<section id="shop" class="page-section row">
   <div class="col-xs-12 col-sm-3">
      <div class="sidebar">
         <h4>Categories</h4>
           <ul class="list-unstyled  categories-group ">
              <% @categories.each do |category| %>
                 <li><%= link_to category.name , products_type_path(params[:type], category_id: category.id), class: "active"%></li>
               <% end %>
            </ul>
         </div>
      </div>
      <div class="col-xs-12 col-sm-9">
      <div id="product-list">
         <div class="product-grid">
            <div id="" class="row" style="position: relative; height: 372.109px;">
					<% @products.each do |product| %>
                  <div class="col-xs-12 col-sm-6 col-md-4 product-holder">
                     <form class="custom" onsubmit="return false" method="post" action="#">
                        <div class="product-item text-center">
                           <a class="product-img" href="<%= product_path(product) %>"><%= image_tag product.image,  class: "img-responsive" %></a>
                           <h3 class="product-title">
                          		<%= product.title %>
                           </h3>
                           <div class="h4 product-price">
                             <%= product.price %>
                           </div>
                           <div class="buttons-holder">
                              <input type="hidden" name="productId" value="15">
                              <%= link_to "Add to Cart", cart_path(product_id: product.id, quantity: 1), class: "btn btn-danger btn-add-cart" %>
                           </div>  
                        </div>
                     </form>
                  </div>
               <% end %>
            </div>
         </div>
         <div class="pagination-holder">
            <ul>
               <li class="active"><a href="shop.html">1</a></li>
               <li><a href="shop.html">2</a></li>
               <li><a href="shop.html">3</a></li>
               <li><a href="shop.html">4</a></li>
               <li><a href="shop.html">Next Page</a></li>
            </ul>
         </div>
         <%= paginate @products %>
      </div>
   </div>
</section>