<!DOCTYPE html>
<html>
  <head>
    <title>EntME</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;"><i class="fa fa-cube"></i> Ent-Me!</a>
            </div>

            <div class="navbar-right navbar-utils">
                <ul class="list-unstyled clearfix">
                <%if current_user %>                        
                    <li class="hidden-xs">
                        <%= link_to "sign out" , destroy_user_session_path, method: :delete , class: "btn" %>
                    </li>
                <%else%>
                    <li class="hidden-xs">
                      	<a href=<%=new_user_registration_path%> class="btn"><span>sign up</span></a>
                    </li>
                    <li class="hidden-xs">
                        <%= link_to "sign in" , new_user_session_path  , class: "btn" %>
                    </li>                    
                <%end%>
                    <li id="navbar-totals" class="totals">
                    	<span class="hidden-xs">0 Items</span>
                        <span class=""> $0</span>
                    </li>
                    <li class="dropdown">
                        <a href="shop.html#" data-toggle="dropdown" class="btn btn-primary cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-left">
                    <ul id="main-nav" class="nav navbar-nav">
                        <li class=""><a href="/products/musics">Musics</a></li>
                        <li class=""><a href="/products/films">Films</a></li>
                        <li class=""><a href="/products/games">Games</a></li>
                        <li class=""><a href="shop.html">News</a></li>
                    </ul>
                </div>
                <form id="search-form" class="navbar-form" role="form" method="get" action="search.html">
                    <div class="input-group">
                        <input type="text" class="search-form form-control" name="query" id="query" placeholder="Type your search term and press Enter" autocomplete="off" value="">
                        <span class="input-group-btn">
                        	<button class="btn search-btn toggle hidden-xs hidden-sm" type="button"><i class="fa fa-search"></i></button>
                        	<button class="btn search-btn hidden-md hidden-lg" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>       
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    </nav>

            <%= yield %>

    <footer id="page-footer">
        <div class="container">
            <div class="footer-contact text-center row">
                <div class="col-xs-12 col-sm-4 col-lg-2">
                   <a href="javascript:;"><i class="fa fa-envelope-o"></i>info@rubikal.com</a>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-2">
                    <a href="javascript:;"><i class="fa fa-phone"></i>+2 (0100) 2715-360</a>
                </div>
                <div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
                   <a class="facebook" href="javascript:;"><i class="fa fa-facebook"></i></a>
                   <a class="twitter" href="javascript:;"><i class="fa fa-twitter"></i></a>
                   <a class="gplus" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="footer-info wrap row">
                <div class="col-sm-6">
                	<ul class="list-unstyled">
                    	<li>© Rubikal! 2017</li>
                       	<li><a href="http://localhost:3000/about">About</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                	<p class="love">Made with <i class="fa fa-heart"></i> Rubikal</p>
                </div>
        	</div>
        </div>
    </footer>
  </body>
</html>
